@model IEnumerable<Actor>
@{
    ViewData["Title"] = "List of Actors";
}

<div class="row">
    <table class="table ml-lg-5">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.ProfilePictureURL)</th>
                <th>@Html.DisplayNameFor(m => m.FullName)</th>
                <th>@Html.DisplayNameFor(m => m.Bio)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Model in Model)
            {
                <tr>
                    <td class="align-middle">
                        <img class="rounded-circle" src="@Model.ProfilePictureURL" alt="@Model.FullName" style="max-width: 150px;" />
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(m => Model.FullName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(m => Model.Bio)
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-square"></i>Edit</a> |
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@Model.Id"><i class="bi bi-eye"></i>Details</a> |
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id"><i class="bi bi-trash"></i>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@await Html.PartialAsync("_CreateItem","Actors")