@model IEnumerable<Cinema>
@{
    ViewData["Title"] = "List of Cinemas";
}

<div class="row">
    <table class="table ml-lg-5">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Logo)</th>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th>@Html.DisplayNameFor(m => m.Description)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        <img class="rounded-circle w" src="@item.Logo" alt="@item.Name" style="max-width: 150px; max-height:100px;" />
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(m => item.Description)
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Edit</a> |
                        <a class="btn btn-outline-info"><i class="bi bi-eye"></i>Details</a> |
                        <a class="btn btn-outline-danger"><i class="bi bi-trash"></i>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>